.header {
    background-color: #F08B0F;
    padding: 12px 16px;
}

body {
    background-color: #F0CC3A;
    margin: 0;
}

h1 {
    margin: 0;
}

.text {
    color: #361806;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.footer {
    background-color: #F08B0F;
}